<!-- <form (ngSubmit)="onSubmit()" #itemForm="ngForm" class="p-4">
    <div class="mb-3">
      <input 
        type="text" 
        [(ngModel)]="item.name" 
        name="name" 
        placeholder="Name" 
        required 
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <input 
        type="text" 
        [(ngModel)]="item.description" 
        name="description" 
        placeholder="Description" 
        required 
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <input 
        type="number" 
        [(ngModel)]="item.price" 
        name="price" 
        placeholder="Price" 
        required 
        class="form-control"
      />
    </div>
    <button type="submit" [disabled]="!itemForm.form.valid" class="btn btn-primary">
      Submit
    </button>
  </form> -->
